.title
{
	width:     200px;
	font-size: 26px;
}

.tp-caption.BigBold-Title, .BigBold-Title
{
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
}

.tp-caption.BigBold-SubTitle, .BigBold-SubTitle
{
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
	color:       rgba(255, 255, 255, 0.80);
}

#content
{
	margin-top: 50px;
}

/**
 * Footer
 */
footer .title
{
	color: #ffffff;
}

.footer
{
	background-color: rgb(34, 38, 41);
	color:            rgb(107, 110, 112);
}

.footer h2
{
	color: rgb(107, 110, 112);
}

.footer a
{
	color: rgb(201, 148, 30);
}

/**
 * Copyright
 */
.copyright
{
	background-color: #0e0e0e;
}