.navbar
{
	border-color:       rgba(34, 34, 34, 0.05);
	background-color:   white;
	-webkit-transition: all .35s;
	-moz-transition:    all .35s;
	transition:         all .35s;
	font-family:        'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight:        200;
	letter-spacing:     1px;

}

.navbar-toggler
{
	font-size: 12px;
	padding:   8px 10px;
	color:     #222222;

	border-color: rgba(0, 0, 0, .1);
}

.navbar-brand
{
	color:          #fdcc52;
	font-family:    'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight:    200;
	letter-spacing: 1px;
}

.header-content h1
{
	color:          rgb(255, 255, 255);
	font-size:      30px;

	font-family:    'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight:    200;
	letter-spacing: 1px;
}

.header-content a
{
	color: rgb(252, 189, 32);
}

.header-content .btn-outline
{
	color:  #FFFFFF;
	border: 1px solid #FFFFFF;
}

.header-content .btn
{
	border-radius:  300px;
	font-family:    'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
}

#img-ross-edlin
{
	width:              300px;
	height:             300px;

	box-shadow:         0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:    0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

	border:             1px solid rgba(0, 0, 0, 0.4);
}

.title
{
	width:     200px;
	font-size: 26px;
}

.img-circle
{
	border-radius: 50%;
}

footer .title
{
	color: #ffffff;
}

.tp-caption.BigBold-Title, .BigBold-Title
{
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
}

.tp-caption.BigBold-SubTitle, .BigBold-SubTitle
{
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
	color:       rgba(255, 255, 255, 0.80);
}

.footer
{
	background-color: rgb(34, 38, 41);
	color:            rgb(107, 110, 112);
}

.footer h2
{
	color: rgb(107, 110, 112);
}

.footer a
{
	color: rgb(201, 148, 30);
}

.copyright
{
	background-color: #0e0e0e;
}