/* Add here all your css styles (customizations) */

/**
 * Arrow for Nav
 */
.nav-arrow
{
	position:   relative;
	background: #72c02c;
}

.nav-arrow:after
{
	top:              100%;
	left:             50%;
	border:           solid transparent;
	content:          " ";
	height:           0;
	width:            0;
	position:         absolute;
	pointer-events:   none;
	border-color:     rgba(114, 192, 44, 0);
	border-top-color: #72c02c;
	border-width:     10px;
	margin-left:      -10px;
}