.g-color-lineten
{
	color: #3498DB !important;
}

.g-bg-lineten-opacity-0_1
{
	background-color: rgba(52, 152, 219, 0.1) !important;
}

.g-bg-lineten--hover:hover
{
	color:            #ffffff !important;
	background-color: #3498DB !important;
}