:root
{
	/*--dummy:            #ffffff;*/
	/*--dummy:            #8D8741;*/
	/*--dummy:            #659DBD;*/
	/*--dummy:            #DAAD86;*/
	/*--dummy:            #BC986A;*/
	/*--dummy:            #FBEEC1;*/

	--text-color:       #ffffff;
	--background-color: #659DBD;
	--link-color:       #8D8741;
}